body {
	background-image: url("../images/background.jpg");
}

.navbar {
	background-color: #E8EDF0;
	z-index: 99;
}

.act {
	background-color: white;
	padding: 2%;
	opacity: .68;
}

.madladingus-title {
	background-color: #5a8cad;
	color: #E8E8E8;
	padding: 1%;
	border: 1px double black;
}

.act:hover {
	opacity: 1;
}