body {
	background-image: url("../images/background.jpg");
}

.navbar {
	background-color: #E8EDF0;
	z-index: 99;
}

.act {
	background-color: white;
	padding: 1%;
	opacity: .68;
}

.act:hover {
	opacity: 1;
}